/* ---- HEADER ---- */
.fixedHeaderContainer {
  background: #fff;
  color: #030a21;
  box-shadow: 0px 3px 6px #18109729;
}

.fixedHeaderContainer a,
.navigationSlider .slidingNav ul li a {
  color: #030a21;
}

.navigationSlider .slidingNav ul li.siteNavItemActive > a,
.navigationSlider .slidingNav ul li.siteNavGroupActive > a,
.navigationSlider .slidingNav ul li a:hover {
  color: #fff;
}
